# VS Code project file
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.pytest_cache/

# Misc test, temp, and housekeeping files
sandbox.py
TODO.md
temp/
logs/
# intermediate/
wip/
notused/

# Ignore Mac DS_Store files
.DS_Store

# Temp Microsoft Office files
~$*.xlsx
~$*.docx